.grey-stripe   {
	background-color:#454242;
	height:52px;
}

.narrow-stripe {
	background-color:#55a2a6;
	height:4px;
}

table  { 
    font-size:120%;
    font-family: "Helvetica","Times New Roman", Times, serif;
	margin-left:10%;
	width:80%;
	margin-right:20%;
}

a:hover  {
   color:#55a2a6;
}

a  {
    color:#454242;
    font-size: 110%;
    font-weight: 600;
}

p   {
	padding-top:20px;
	font-size:17px;
}

#quote  {
	background-color:#55a2a6;
	height:15%;
	margin:auto;
    color:white;	
	text-align: center;
	
}

.div-title  {
	padding-left:10%;
	text-align:left;
	color:#55a2a6;
}	

.line {
	background-color:#55a2a6;
	height:4px;
	margin-left:10%;
	margin-right:10%;
}	
	
#picture  {
	height: 30%;
}

h4  {
    font-size:140%;
    font-family: "Helvetica", "Times New Roman", Times, serif;
    font-weight: 600;
}

p  {
    font-family: "Helvetica","Times New Roman", Times, serif;
    font-weight: 300;	
}

 .row  {
    background-color:white;
	padding-top:40px;
	padding-bottom:30px;
	margin-right:2%;
	margin-left:2%;
  } 

.col-sm  {
    color:#454242;
    font-size: 120%;
    font-weight: 600;
    text-align:center;
}

.item-title:hover  {
    color:#55a2a6;
    cursor:pointer;
  }

.item-title  {
    text-align:center;
    color:#454242;
    padding-top:25px;
    font-size: 120%;
    font-weight: 600;
}

.about-block  {
	margin-left:20%;
	margin-right:10%;
	color:#808080;
	font-size:120%;
	padding-bottom:25px;
}

.button  {
	background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	width:150px;
	height:100px;
}

.button:hover {
	cursor:pointer;
	opacity: 0.5;
	border:none;
    background:Transparent;
	outline:none;
	overflow: hidden;
}

img {
    border:none;
    background:white;
}	
	 
.portfolio-block  {
	height:200px;
	margin-left:20%;
	
	color:#808080;
	font-size:120%;
}

.linkedin:hover {
	color:#55a2a6;
    cursor:pointer;
}
	
.github:hover {
   color:#55a2a6;
   cursor:pointer;
}

.footer {
	text-align:center;
	font-family: "Helvetica", "Times New Roman", Times, serif;
	
}	

.footer-block {
	background-color:#454242;
	padding-top:3%;
	padding-bottom:2%;
}


/*Media Queries*/

@media all and (max-width:768px) and (min-width:381px) {
	
.grey-stripe   {
    display:none;
}

.narrow-stripe {
	height:2px;
}

 table  { 
    font-size:16px;
	width:90%;
}
   
 h4 {
	font-size:90%; 
}

h3 {
	font-size:60%;
}

.about {
	font-size:60%;
}

a,p {
	font-size:12px;
}
.quote-text {
	font-size:11px;
}
